body {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 181, 110);
}

#main {
    display: grid;
    grid-template-columns: 200px 300px 100px 100px 100px 50px;
    grid-auto-rows: min-content;
    gap: 20px;
    padding: 30px;
    border: 4px solid;
    margin-top: 20px;
    background: linear-gradient(to right, #11992c, #ef6c38)
}

#main a {
    border: 1px solid;
    background-color: gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}

#div1 {
    height: 100px;
}

#div2 {
    height: 100px;
}

#div3 {
    height: 100px;

}

#div4 {
    height: 300px;
    grid-row: 2;
}

#div5 {
    height: 300px;
    grid-column: 2 / 4;
}

#div6 {
    grid-column: 4;
    height: 420px;
    grid-row: 1 / 3;

}

#div7 {
    grid-column: 5;
    height: 420px;
    grid-row: 1 / 3;
}

#div8 {
    grid-column: 6;
    height: 420px;
    grid-row: 1 / 3;
}

#Reset {
    text-decoration: none;
    color: black;
    border: 1px solid;
    padding: 6px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 15%;
    margin: 20px auto;
    background: linear-gradient(to right, rgb(241, 164, 227), rgb(198, 109, 153));
    border-radius: 12px;
    height: 30px;

}

#Reset:hover {
    background: linear-gradient(to right, #00c6ff, #0072ff);
    transform: scale(1.05);
    color: white;

}